* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto Mono", monospace, sans-serif;
}
@font-face {
    font-family: "digital-7";
    src: url("/assets/digital-7-webfont.woff2") format("woff2"),
        url("/assets/digital-7-webfont.woff") format("woff"),
        url("/assets/digital-7.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    height: 100vh;
    background-image: url("/assets/deskBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.display {
    background-color: black;
    width: 100%;
}
.display input {
    font-family: "digital-7";
    width: 100%;
    padding: 15px 10px;
    text-align: right;
    border: none;
    background-color: transparent;
    color: #e3e2ec;
    font-size: 35px;
}
.display input::placeholder {
    color: #9490ac;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
}
button {
    font-size: 20px;
    padding: 17px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    border-radius: 10px;
}
button#equal {
    grid-row: span 2;
}
button#zero {
    grid-column: span 2;
}
.operation-button {
    background-image: url("/assets/orngButton.png");
    background-size: 150% 150%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #131212a8;
    font-style: bold;
    font-size: 20pt;
    /* background-color: #f69906; */
}
.operation-button:hover {
    background-color: #f6aa06db;
}
.digit-button {
    background-image: url("/assets/blkButton.png");
    background-size: 170% 170%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.digit-button:hover {
    background-color: #313131a8;
}
.calculator {
    width: 400px;
    background-image: url("/assets/aluminumBg.jpg");
    padding: 50px 30px 20px 30px;
    position: relative;
    transform: translate(-30%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0 30px 60px rgba(0, 5, 24, 0.8);
}
.icon-container {
    text-align: left;
    font-size: 36px;
}
#name {
    text-align: left;
    font-size: 18px;
}
#gear{
    margin-bottom: 20px;
}
.operation-button:hover {
    transform: scale(1.1);
}
.digit-button:hover {
    transform: scale(1.1);
}
